body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
header{
    background-color: white;
    height: 10vh;
    width: 100%;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 2px #CED4DA;
}
.logo{
    margin-left: 2em;
}
.search-container{
    display: flex;
    align-items: center;
    margin-right: 1em;
}
.search-bar{
    background-color: #E0E0E0;
    padding: .75em;
    border-radius: .5em;
}
.search-bar i{
    margin-right: 1em;
}
#search{
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
}
.settings{
    font-size: 1em;
    box-shadow: 0px 0px 2px gray;
    padding: .75em;
    border-radius: .5em;
    margin-left: 2em;
    transition: all .25s ease;
}
.settings:hover{
    box-shadow: 0px 0px 5px rgb(85, 85, 85);
    background-color: #E0E0E0;
    cursor: pointer;
}



main{
    height: auto;
    width: 100%;
    background-color: #F4F5FC;
    display: flex;
}
.general-container{
    background-color: #F4F5FC;
    height: 100%;
    width: 12.5%;
    padding: 0em 1em 0em 1em;
}
.general-container h5{
    padding-top: 1rem;
    color: #6C757D;
}
.general-tabs{
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    padding: 0rem 1rem 0rem 1rem;
    margin: 1rem 0rem 1rem 0rem;
    border-radius: .5rem;
    transition: all .25s ease;
}
.general-tabs:hover{
    cursor: pointer;
    color: white;
    background-color: rgba(128, 128, 128, .5);
    font-weight: bold;
}
.general-tabs.active{
    color: white;
    background-color: #2D85D6;
    font-weight: bold;
}

.general-tabs i{
    margin-right: 1rem;
}
#i01{
    margin-left: 4.5px;
}
#gen1{
    margin-left: 3.5px;
}
#gen3{
    margin-left: 2.5px;
}
#i05{
    margin-left: 5px;
}
#gen5{
    margin-left: 5px;
}


.middle-container{
    height: auto;
    width: 70%;
    background-color: #F4F5FC;
    display: flex;
    flex-direction: column;
}
.dashboard-content{
    padding: 1rem;
    display: none;
}
.dashboard-content.active{
    padding: 1rem;
    display: block;
}
.report-container{
    display: none;
}
.report-container.active{
    display: block;
}

#tab-heading{
    font-size: 2rem;
    font-weight: bold;
}
.layer1{
    display: flex;
    justify-content: center;
}
.big-box{
    background-color: #FFFFFF;
    height: 10rem;
    width: 10rem;
    margin-right: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    color: #5C6F88;
    box-shadow: 0px 0px 1rem rgba(0,0,0,.1);
}
.card-icon{
    background-color: #F0E8FC;
    height: 4.5rem;
    width: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.card-icon i{
    font-size: 2.5rem;
    color: #04B4FC;
}
#t1{
    color: #6E13DF;
}
.layer1-big-value{
    font-size: 2rem;
    margin: 1rem 0rem .5rem 0rem;
    font-weight: bold;
}
.layer1-small-value{
    font-size: 1.1rem;
    margin: .5rem 0rem 1rem 0rem;
    
}


.layer2{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-right: 2rem;
}
.small-box-container{
    height: 14rem;
    width: 14rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.small-box{
    height: 6rem;
    width: 100%;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 0px 0px 1rem rgba(0,0,0,.1);
}
.small-box-details{
    padding: .5rem 1rem .5rem 1rem;
    display: flex;
    align-items: center;
}
.icon-div{
    background-color: #c7e61b;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 1rem;
}
#bg1{
    background-color: #FCE0EC;
    color: #FB407D;
}
#bg2{
    background-color: #FCF3EC;
    color: #C8895D;
}

.icon-div i{
    font-size: 1.5rem;
}
.text-div{
    color: #5C6F88;
}
#pnum{
    font-size: 1rem;
    margin-bottom: .5rem;
    font-weight: bold;
}
#ptext{
    margin-top: .5rem;
    font-size: .9rem;
    font-weight: 500;
}



.item-card{
    height: 11rem;
    width: 28rem;
    background-color: white;
    padding: 1rem;
    margin-top: .6rem;
    display: flex;
    border-radius: .5rem;
    box-shadow: 0px 0px 1rem rgba(0,0,0,.1);
}
.item-img{
    height: 100%;
    width: 50%;
}
.item-img img{
    height: 100%;
    width: 100%;
}
.product-text{
    height: 100%;
    width: 50%;
    color: #5C6F88;
}
#header-text{
    font-size: 1.5rem;
    margin: 1rem 0rem 1rem 0rem;
    font-weight: bold;
}



.stock-record{
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stock-record img{
    height: 100%;
}
.sales-order{
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sales-order img{
    height: 100%;
}
.orders-per-category{
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.orders-per-category img{
    height: 100%;
}
.inventory-turnover-rate{
    height: 65rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.inventory-turnover-rate img{
    height: 100%;
}




.profile-container{
    background-color: white;
    height: auto;
    width: 17.5%;
    box-shadow: -2px 0px 2px #CED4DA;
}
.profile-tab{
    background-color: white;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem .5rem 0rem .5rem;
    border-bottom: 2px solid #CED4DA;
}
.profile{
    background-color: white;
    display: flex;
    align-items: center;
}
.user-icon-div{
    background-color: #EADDFF;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .5rem;
}
.fa-user{
    font-size: 1.5rem;
    color: #21005D;
}
.name{
    font-size: 1.25rem;
    font-weight: bold;
    margin: .5rem 0rem .5rem 0rem;
}
.role{
    color: #5C6F88;
    margin: .5rem 0rem .5rem 0rem;
}
.profile-menu{
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .5rem;
    box-shadow: 0px 0px 2px gray;
    border-radius: .2rem;
    transition: all .1s ease;
}
.fa-ellipsis-vertical{
    font-size: 1.25rem;
    color: #5C6F88;
}
.profile-menu:hover{
    box-shadow: 0px 0px 5px gray;
}
.QA-div{
    background-color: white;
    height: auto;
    padding: 1em 1em 1em 1em;
}
.QA-div h5{
    color: black;
    font-size: 1.1rem;
    margin: 0px 0px 1rem 0px;
}
.QA-tabs{
    display: flex;
    align-items: center;
    width: 100%;
}
.QA-tabs:hover{
    text-decoration: underline;
    cursor: pointer;
}

.QA-tabs i{
    font-size: 1.1rem;
    margin-right: .75rem;
    color: #5C6F88;
}
.QA-tabs p{
    font-size: 1.1rem;
    font-weight: 500;
    color: #5C6F88;
}
.export{
    border: 2px solid #5C6F88;
    height: auto;
    width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .75rem;
}
#export-icon{
    margin-right: 0px;
}
#fabox{
    margin: 0px 1.1rem 0px 2px;
}
.QA-div h4{
    color: black;
    font-size: 1.25rem;
    margin: 1rem 0px 1rem 0px;
}
.item-text{
    font-size: 1.1rem;
    font-weight: 500;
    padding: 1rem 0px 1rem 0px;
}
.item-text:hover{
    text-decoration: underline;
    cursor: pointer;

}




footer{
    background-color: white;
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #CED4DA;
} 
.main-div{
    height: 25vh;
    width: 90%;
}
.child-div1{
    height: 12.5vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo{
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
}
.footer-logo>img{
    height: 75%;
    width: 75%;
}
.child1-text{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.child1-text p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.child-div2{
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slogan{
    font-size: 1.1rem;
}
.contact-icons{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    color: #2D85D6;
}
.child-div3{
    height: .5vh;
    width: 100%;
}
.child-div3>hr{
    margin: 0px 0px 0px 0px;
}
.child-div4{
    background-color: white;
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hyperlink:hover{
    text-decoration: underline;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: .75rem;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(192, 192, 192);
    opacity: .5;
    border-radius: 1em;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #a5a5a5;
    opacity: .5;
}